@charset "ISO-8859-1";
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center;
        }

        #arriba {
            color: #333;
        }

        img {
           margin-top: 20px;
           width: 200px; 
           height: 200px;
        }

        ul {
           
            padding: 0;
            list-style: none;
           
        }

        li {
            margin: 10px ;
        }

       p{
	   height: 10%;
	   }
	   
	   .doble{
		   
	   }